/*simpsons*/
.father{
    width: 100%;
    height: 900px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.simpsonDiv{
    width: 300px;
    height: 800px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 100%;
    height: 50%;
}
p{
    font-size: 13px;
    padding: 5px;
    text-align: justify;
}
/*simpsons*/
/*------------------------------------*/
/*course*/
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infoDiv{
    width: 80%;
    height: 600px;
    border: 1px solid;
    margin-top: 10px;
}
.titleDiv{
    width: 100%;
    height: 10%;
    border: 1px solid;

}
.monthHour{
    width: 100%;
    height: 10%;
    display: flex;
}
.hour{
    width: 70%;
    height: 100%;
    border: 1px solid;

}
.month{
    width: 30%;
    height: 100%;
    border: 1px solid;
}
.hour, .month, .titleDiv, .ulHolder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ulHolder{
    width: 100%;
    height: 80%;
    border: 1px solid;
}
body{
    margin: 0;
}
.changer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.color{
    background-color: violet;
}
.header{
    width: 80%;
    height: 70px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inpHold{
    width: 100%;
}
#myd{
    width: 200px;
    height: 200px;
    background: midnightblue;

}
tr,td,th{
    border: midnightblue 2px solid;
}
table{
    border: midnightblue 2px solid;
    margin-top: 5px;
}
